.heading p{
    font-size: 2.5vw;
}
.heading{
    width: 30vw;
    height: 5vw;
    position: relative;
}
.name{
    font-size: 2.5vw;
    position: absolute;
    bottom: 1.3vw;
    right: 5%;
    z-index: 20;
    font-weight: 500;
}
.underline{
    background: linear-gradient(90deg,rgb(83,111,64),rgb(222, 235, 210));
    height: 1.8vw;
    width: 90%;
    position: absolute;
    bottom: 0;
}