.header{
    /* background-color: hsl(60deg 12% 33%); */
    /* color: hsl(22deg 97% 40%);
    color: rgb(7,75,42); */
    /* position: fixed; */
    height: 6vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,255,255,0.6);
    border-bottom: 0.1vw solid rgb(83,111,64);
    z-index: 20;
    border-bottom: 0.1vw solid rgb(83,111,64);
    /* position: relative; */
}
.left{
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
app-location{
    height: 100%;
}
.logo{
    /* display: inline-block; */
    height: 100%;
    margin: 0%;
    background: url('/assets/images/Project_logo.png');
    width: 22vw;
    background-size:cover;
}
.right{
    width: 10vw;
    margin-right:1%;
    position: relative;
    height: 6vw;
}
.profile_icon,.login{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    right: 0;
    margin: auto;
}
.profile_icon{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.profile_icon img{
    height: 35%;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* display:none; */
}
.login button{
    padding: 4%;
    background-color: rgb(222, 235, 210);
    border: 0.1vw solid rgb(83,111,64);
    height: 50%;
    width: 10vw;
    font-size: 1vw;
}
.login button:hover{
    background-color: rgb(83,111,64);
    color: white;
    transition: background-color 0.5s;
}