<div class="footer">
    <div class="outer">
        <div class="logo">
            <img src="assets/images/Project_logo.png" alt="logo"/>
        </div>
        <div class="contact">
            <p>Contact Info</p>
            <p>Sector 49, Sohna Road, Gurugram</p>
            <p><img src="assets/images/phone-alt-solid.svg" alt="Phone no."/>123456</p>
            <p><img src="assets/images/envelope-solid.svg" alt="Email id"/>contact@opentable.com</p>
        </div>
        <div class="social">
            <ul>
                    <li><a href="#"><img src="assets/images/instagram-brands.svg" alt="instagram-brands"></a></li>
                    <li><a href="#"><img src="assets/images/facebook-brands.svg" alt="facebook-brands"></a></li>
                    <li><a href="#"><img src="assets/images/twitter-brands.svg" alt="twitter-brands"></a></li>
                    <li><a href="#"><img src="assets/images/youtube-brands.svg" alt="youtube-brands"></a></li>
                </ul>
        </div>
        
    </div>
    <div class="endline">
        <p>Made with <span>&hearts;</span> by Team 10 PeopleStrong.</p>
    </div>
</div>