.footer{
    display: flex;
    flex-direction: column;
    height: 15vw; 
    background-color: rgb(88,111,64);
}
.outer{  
    width: 100%;
    height: 90%;
    display: flex; 
    align-items: center;
    justify-content: space-around;
}
.logo,.social,.contact{
    height: 100%;
}
.logo{
    width: 15%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 50%;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social ul{
    /* display: inline-block; */
    list-style-type: none;
}
.social ul li{
    width: 2vw;
    margin: 1vw;
    float: left;
}
.contact{
    text-align: center;
}
.contact p:first-child{
    font-size: 1.5vw;
    margin: 10%;
}
.contact p{
    text-align: center;
    font-size: 1.2vw;
    color: whitesmoke;
}
.contact p img{
    padding: 1.5%;
    width: 1.1vw;
    height: 1.2vw;
}
.endline{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.endline p{
    color: whitesmoke;
    font-size: 0.8vw;
}
.endline p span{
    color: red;
}