<mat-card class="filterCard">
  <form #filter="ngForm" (ngSubmit)="onSubmit(filter.value)">
    <input type="text" name="rating" ngModel size="5" /> Rating<br /><br />
    <h1>Cuisine</h1>
    <ul>
      <fieldset ngModelGroup="cuisine">
        <div *ngFor="let cuisine of cuisines">
          <input type="checkbox" [name]="cuisine" ngModel />
          {{ cuisine }}
          <br /><br />
        </div>
      </fieldset>
    </ul>
    <input type="checkbox" name="pure_veg" ngModel />Pure Veg<br /><br />
    <input type="checkbox" name="private" ngModel /> Private<br /><br />

    <button class="btn btn-primary" type="submit">submit</button>
  </form>
</mat-card>
