.rest_profile{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
.gallery{
    height: 30vw;
    width: 100%;
    margin: 2% 2% 0% 2%;
    padding: 2%;
}
.row1{
    height: 100%;
    box-shadow: 0.2vw 0.2vw 0.5vw rgb(88, 111, 64);
    border-radius: 4%;
}
.row2{
    height: 50%;
}
.photo{
    background: url('assets/images/peshawri_mumbai.jpeg');
    height: 100%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4%;
    border: 0.1vw rgb(88, 111, 64) solid;
}
.detail{
    display: flex;
    width: 100%;
    padding: 0% 2% 2% 2%;
}
.left{
    width: 65%;
}
.right{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name{
    font-size: 2.5vw;
    font-weight: 700;
    padding: 1%;
}
.location{
    padding: 0% 1% 0% 1%;
    font-size: 1.2vw;
    color: rgb(88, 111, 64);
    margin: 0%;
}
.open{
    font-size: 1vw;
    padding: 1%;
}
.open mat-icon{
    color: rgb(88, 111, 64);
}
.rating_block{
    display: flex;
    font-size: 1vw;
}
.rating_block div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rating{
    width: 2.5vw;
    height: 2.5vw;
    border-radius:15%;
    background-color: green;
    color: white;
    font-size: 1.2vw;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rating p{
    margin: 0%;
}
.rating mat-icon{
    font-size: 1.2vw;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.buttons button{
    background-color: rgb(222, 235, 210);
}
.dialog{
    width: 20vw;
}
.day{
    border-right: 0.1vw rgb(88, 111, 64) solid;
}
table{
    width: 100%;
}
td{
    padding: 1%;
}
tr{
    margin: 1%;
}
.view_bar{
    width: 100%;
    /* padding: 0% 2% 2% 2%; */

}
.space{
    width: 100%;
    height: 40vw;
    border: 0.1vw solid rgb(88, 111, 64);
}
.view_bar nav{
    background-color: rgb(222, 235, 210);
}
.tab{
    color: rgb(88, 111, 64);
}