
<app-restprofile></app-restprofile>
<div id="head_div">
    <div class="main_head">
        <p>Quickest Serve to your cravings...</p>
    </div>
</div>
<app-heading></app-heading>
<div class="about">
   <!-- <div class="heading">
        <p class="headline">ABOUT US</p>
        <div class="under"></div>
    </div> -->
   <div class="outer">
        <div class="present">
            <div class="back"></div>
            <div class="photo"></div>
        </div>
        <div class="describe">
            <div class="text">
                <p>Serving in various cities across India, we own a precious legacy of serving the customer most efficiently since 10 years.We aim at satisfying myriad of tastes along with keeping an edge for customers' pocket.</p>
            </div>
            
            <div class="taglines">
                <div class="line">
                    <p>Restaurants at your fingers.</p>
                    <div class="underline"></div>
                </div>
                <div class="line">
                    <p>Variety for your taste.</p>
                    <div class="underline"></div>
                </div>
                <div class="line">
                    <p>Relief at your pocket.</p>
                    <div class="underline"></div>
                </div>
            </div>
        </div>
   </div>
</div>
<app-heading name="Featured Restaurants"></app-heading>
<div class="featured">
    <div class="cover">
        <div class="rest_card">
            <img src="assets/images/Indian Accent.jpeg" alt="restaurant"/>
            <div class="tile">
                <p>The Manor, 77, Friends Colony, New Delhi<br><br>Famous For: The tasting menu</p>
            </div>
        </div>
        <div class="rest_name">Indian Accent, New Delhi</div>
    </div>
    <div class="cover">
        <div class="rest_card">
            <img src="assets/images/Peshawri_mumbai.jpeg" alt="restaurant"/>
            <div class="tile">
                <p>ITC Maratha Hotel, Sahar Road, Andheri East, Mumbai<br><br>Famous For: Sikandari Raan and Dal Bukhara</p>
            </div>
        </div>
        <div class="rest_name">Peshawri, Mumbai</div>
    </div>
    <div class="cover">
        <div class="rest_card">
            <img src="assets/images/tuscany_garden_goa.jpeg" alt="restaurant"/>
            <div class="tile">
                <p>Main Road, Near Kingfisher Villa, Sinquirim, Candolim, Goa<br><br>Famous For: Thin crust pizzas</p>
            </div>  
        </div>
        <div class="rest_name">Tuscany Gardens, Goa</div>
    </div>

    <div class="cover">
        <div class="rest_card">
            <img src="assets/images/villamaya_trivandrum_kerela.jpeg" alt="restaurant"/>
            <div class="tile">
                <p>120, Palayam Airport Rd, Vallakkadavu, Thiruvananthapuram, Kerala<br><br>Famous For: Kerala Special and Fish Tikka</p>
            </div> 
        </div>
        <div class="rest_name">Villa Maya, Trivandrum</div>
    </div>
    
    <div class="cover">
        <div class="rest_card">
            <img src="assets/images/Pinchofspice_agra.jpeg" alt="restaurant"/>
            <div class="tile">
                <p>Mahatma Gandhi Rd, Wazirpura Road, Sanjay Palace, Agra<br><br>Famous For: Punjabi meal</p>
            </div> 
        </div>
        <div class="rest_name">Pinch of Spice, Agra</div>
    </div>
</div>