<div class="center-content">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login/Register</mat-card-title>
      <mat-card-subtitle>Restaurant Table </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="isLoading"
      ><mat-spinner></mat-spinner
    ></mat-card-content>
    <mat-card-content *ngIf="!isLoading">
      <mat-tab-group>
        <mat-tab label="Login">
          <form #loginForm="ngForm" (ngSubmit)="onLoginButton(loginForm.value)">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                placeholder="Email"
                ngModel
                name="email"
                required
                email
                style="color: black"
              />
              <mat-icon matSuffix color="accent">email</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input
                type="password"
                matInput
                placeholder="Password"
                ngModel
                name="password"
                required
                minlength="6"
                style="color: black"
              />
              <mat-icon matSuffix color="primary">vpn_key</mat-icon>
            </mat-form-field>
            <button
              mat-button
              type="submit"
              color="primary"
              [disabled]="!loginForm.valid"
            >
              Login
            </button>
          </form>
        </mat-tab>
        <mat-tab label="Register">
          <form
            #registerForm="ngForm"
            (ngSubmit)="onSubmitButton(registerForm.value)"
          >
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input
                type="text"
                matInput
                placeholder="Username"
                name="Username"
                ngModel
                required
                minlength="3"
                style="color: black"
              />
              <mat-icon matSuffix color="primary">man</mat-icon>
            </mat-form-field>
            <!-- <mat-form-field class="example-full-width">
              <mat-label>Lastname</mat-label>
              <input
                type="text"
                matInput
                placeholder="Lastname"
                name="Lastname"
                ngModel
                required
                minlength="3"
                style="color: black"
              />  -->
            <!-- <mat-icon matSuffix color="primary">man</mat-icon>
            </mat-form-field> -->

            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                placeholder="Email"
                name="email"
                ngModel
                required
                email
                style="color: black"
              />
              <mat-icon matSuffix color="primary">email</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input
                type="password"
                matInput
                placeholder="Password"
                ngModel
                name="password"
                required
                minlength="6"
                style="color: black"
              />
              <mat-icon matSuffix color="primary">vpn_key</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Phone Number</mat-label>
              <input
                type="call"
                matInput
                placeholder="phone no."
                ngModel
                name="phoneNo"
                required
                minlength="10"
                style="color: black"
              />
              <mat-icon matSuffix color="primary">phone</mat-icon>
            </mat-form-field>
            <mat-checkbox ngModel name="isOwner"
              >Register as Restaurant Owner ?</mat-checkbox
            >
            <fieldset
              ngModelGroup="restDetails"
              *ngIf="registerForm.value.isOwner"
            >
              <div mat-dialog-content class="mat-typography">
                <div mat-card-content>
                  <mat-form-field appearance="fill">
                    <mat-label>GST NO.</mat-label>
                    <input
                      matInput
                      ngModel
                      name="gstNo"
                      required
                      style="color: black"
                    />
                  </mat-form-field>
                </div>
                <div mat-card-content>
                  <mat-form-field appearance="fill">
                    <mat-label>restaurant Name</mat-label>
                    <input
                      matInput
                      ngModel
                      name="restaurantName"
                      required
                      style="color: black"
                    />
                  </mat-form-field>
                </div>

                <div mat-card-content>
                  <mat-label>Location</mat-label>
                </div>
                <div mat-card-content>
                  <mat-form-field appearance="fill">
                    <mat-label>Address Line 1</mat-label>
                    <input
                      matInput
                      ngModel
                      name="addressline1"
                      required
                      style="color: black"
                    />
                  </mat-form-field>
                </div>
                <div mat-card-content>
                  <mat-form-field appearance="fill">
                    <mat-label>Address Line 2</mat-label>
                    <input
                      matInput
                      ngModel
                      name="addressline2"
                      required
                      style="color: black"
                    />
                  </mat-form-field>
                </div>
                <div mat-card-content>
                  <mat-form-field appearance="fill">
                    <mat-label>Pin Code</mat-label>
                    <input
                      matInput
                      ngModel
                      name="pincode"
                      required
                      style="color: black"
                    />
                  </mat-form-field>
                </div>
                <div mat-card-content>
                  <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <input
                      matInput
                      ngModel
                      name="City"
                      required
                      style="color: black"
                    />
                  </mat-form-field>
                </div>
                <div mat-card-content>
                  <mat-form-field appearance="fill">
                    <mat-label>No of Table Capacity</mat-label>
                    <input
                      matInput
                      ngModel
                      name="tableCapacity"
                      style="color: black"
                    />
                  </mat-form-field>
                </div>

                <div mat-card-content>
                  <mat-form-field appearance="fill">
                    <mat-label>Charge Per Table </mat-label>
                    <input
                      matInput
                      ngModel
                      name="tableCharge"
                      style="color: black"
                    />
                  </mat-form-field>
                </div>

                <div mat-card-content>
                  <mat-form-field appearance="fill">
                    <mat-label>Add Cuisines</mat-label>
                    <mat-chip-list #chipList>
                      <mat-chip
                        *ngFor="let cuisine of cuisines"
                        (removed)="remove(cuisine)"
                      >
                        {{ cuisine.cuisineName }}
                        <button matChipRemove>
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip>
                      <input
                        placeholder="Select Cuisine ..."
                        #cuisineInput
                        [matAutocomplete]="auto"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event)"
                      />
                    </mat-chip-list>
                    <mat-autocomplete
                      #auto="matAutocomplete"
                      (optionSelected)="selected($event)"
                    >
                      <mat-option
                        *ngFor="let cuisine of filteredCuisines | async"
                        [value]="cuisine"
                      >
                        {{ cuisine.cuisineName }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>

                <div mat-card-content>
                  <mat-form-field appearance="fill">
                    <mat-label>Menu Add</mat-label>
                    <input matInput ngModel name="menu" style="color: black" />
                  </mat-form-field>
                </div>
                <div mat-card-content>
                  <section class="example-section">
                    <mat-checkbox class="example-margin" name="private" ngModel
                      >Private</mat-checkbox
                    >
                  </section>
                </div>
                <div mat-card-content>
                  <section class="example-section">
                    <mat-checkbox class="example-margin" name="pureVeg" ngModel
                      >Pure Veg
                    </mat-checkbox>
                  </section>
                </div>
              </div>
            </fieldset>
            <button
              mat-button
              type="submit"
              color="primary"
              [disabled]="!registerForm.valid"
            >
              Register
            </button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
