.menu-card {
  background-color: white;
  padding: 20px;
  margin: 20px;
  max-width: 700px;
  columns: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.05);
}

.menu-item-title {
  color: #164e63;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.menu-item-price {
  color: #0e7490;
  font-size: 16px;
  margin-bottom: 0;
}

.item-button {
  border-radius: 50px;
  margin: 5px;
  padding: 0 32px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.item-button-add {
  background-color: #22c55e;
}

.item-button-add:hover {
  background-color: #16a34a;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.07);
}

.item-button-remove {
  background-color: #f43f5e;
}

.item-button-remove:hover {
  background-color: #e11d48;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.07);
}
