<form #selectCity="ngForm" (ngSubmit)="onSubmit(selectCity.value)">
  <div class="location" [ngStyle]="{ width: size }">
    <div class="detect">
      <!-- <mat-icon>explore</mat-icon> -->
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Select City</mat-label>
        <mat-select ngModel name="city">
          <mat-option *ngFor="let city of cities" value="{{ city }}">{{
            city
          }}</mat-option>
        </mat-select>
        <mat-hint align="end">{{ hint }}</mat-hint>
      </mat-form-field>
    </div>
    <button type="submit">Search</button>
  </div>
</form>
