.location{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4%;
}
.detect{
    width: 70%;
    background-color: white;
    border: 0.1vw solid rgb(88, 111, 64);
}
mat-form-field.mat-form-field {
    width: 100%;
}
::ng-deep.mat-form-field-wrapper{
    color: white;
}
.location button{
    padding: 2%;
}
.detect{
    display: flex;
    width: 100%;
}
button{
    width: 30%;
    margin: 1%;
    background-color: rgb(88, 111, 64);
    color: white;
}