<div class="location">
    <div class="inner">
        <div class="detect">
            <mat-icon>explore</mat-icon>
            <mat-form-field appearance="fill">
                <mat-label>Select City</mat-label>
                <mat-select>
                  <mat-option value="option">Delhi</mat-option>
                  <mat-option value="option">Mumbai</mat-option>
                  <mat-option value="option">Dehradun</mat-option>
                  <mat-option value="option">Shimla</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <button type="submit" (click)="onSubmit()">Search</button>
    </div>
</div>