<div class="booking">
    <form #bookForm="ngForm" class="form" (ngSubmit)="onSubmit(bookForm.value)">
        <mat-form-field appearance="fill">
            <mat-label>Enter number of persons</mat-label>
            <input matInput type="number" name="noOfPersons" ngModel name="numOfPersons" min="1" value="1" required>
        </mat-form-field>

        <mat-form-field color="primary" appearance="fill">
            <mat-label>Select Booking Date</mat-label>
            <input matInput [matDatepicker]="picker2" name="date" ngModel [min]="curr_date" min={{curr_date}} required>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>
        
        <div class="timePick">
            <input [ngxTimepicker]="toggleTimepicker" name="arrivalTime" ngModel [disableClick]="true" placeholder="Select Arrival Time" readonly required>
            <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
            <ngx-material-timepicker #toggleTimepicker [theme]="darkTheme"></ngx-material-timepicker>
        </div>

        <div class="timePick">
            <input [ngxTimepicker]="toggleTimepicker1" name="departureTime" ngModel [disableClick]="true" placeholder="Select Departure Times" readonly required>
            <ngx-material-timepicker-toggle [for]="toggleTimepicker1"></ngx-material-timepicker-toggle>
            <ngx-material-timepicker #toggleTimepicker1 [theme]="darkTheme"></ngx-material-timepicker>
        </div>

        <mat-slide-toggle name="private" ngModel>Private table required ?</mat-slide-toggle>

        
        <app-menu></app-menu>

        <h3>Amount</h3>
        <p>{{amount}}</p>
        <!-- <input ngModel matInput type="number" name="amount" min="1" value={{amount}}> -->
    
        <button mat-button type="submit" [disabled]="!bookForm.valid">Submit</button>
    
    </form>
    
</div>