<div mat-dialog-content>
    <div mat-card-content>
        <mat-form-field appearance="fill">
        <mat-label>Restaurant name</mat-label>
        <input matInput ngModel>
        </mat-form-field>
    </div>
    <div mat-card-content>
        <mat-form-field appearance="fill">
        <mat-label>Owner name</mat-label>
        <input matInput ngModel>
        </mat-form-field>
    </div>
    <div mat-card-content>
        <mat-form-field appearance="fill">
        <mat-label>Restaurant Location</mat-label>
        <input matInput ngModel>
        </mat-form-field>
    </div>
    <div mat-card-content>
        <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput ngModel>
        </mat-form-field>
    </div>
    <div mat-card-content>
        <mat-form-field appearance="fill">
        <mat-label>Phone No.</mat-label>
        <input matInput ngModel>
        </mat-form-field>
    </div>
    <div mat-card-content>
        <mat-form-field appearance="fill">
        <mat-label>No. of Table</mat-label>
        <input matInput ngModel>
        </mat-form-field>
    </div>
    <div mat-card-content>
        <mat-form-field appearance="fill">
        <mat-label>Charge per Table</mat-label>
        <input matInput ngModel>
        </mat-form-field>
    </div>
    <div mat-card-content>
      <mat-checkbox >Wifi </mat-checkbox>
    </div>
    <div mat-card-content>
        <mat-checkbox >Pure Veg</mat-checkbox>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button mat-dialog-close="">Update</button>
    </div>
</div>