mat-card{
    margin: 10px;
}
img{
    height: 200px;
    width: auto;
    display: flex;
    border-radius: 10px;
}

.infomation{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 40px;
}
.infomation .right-info{
    display: grid;
    grid-template-columns: 0.4fr 0.5fr ;
}
.infomation .left-info{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 1px;
}
.fixed{
    position: static;
}
