mat-card{
    margin: 10px;
}
img{
    height: 150px;
    width: auto;
    display: flex;
    border-radius: 10px;
}

mat-card .profile-image{
    float: left;
    height: 300px; 
}

.infomation{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 20px;
}
.infomation .right-info{
    display: grid;
    grid-template-columns: 0.4fr 0.1fr ;
}
.infomation .left-info{
    display: grid;
    grid-template-columns: 0.8fr 1fr ;
    grid-gap: 1px;
}
