<div class="container">
    <div class="user-profile">
        <mat-card >
            <mat-card-header>
                <mat-card-title>User profile</mat-card-title>
            </mat-card-header>
            <div class="profile-image">
                <img
                width="150"
                height="150"
                class="margin-top mat-elevation-z1"
                src="https://i.stack.imgur.com/YQu5k.png"
                /></div>
            <mat-card-content>
                <div class="infomation">
                    <div class="left-info">  
                        <div >
                            <p>First Name:</p>  
                            <p>Last Name:</p> 
                            <p>Email</p>
                            <p>Phone No.</p>  
                        </div>
                        <div class="fixed">
                            <p>firstname</p>
                            <p>lastname:</p> 
                            <p>useraname@egmail.com</p>
                            <p>12341234123</p>
                        </div>
                    </div> 
                </div>
                <mat-checkbox [(ngModel)]="isOwner">Manage Restaurant</mat-checkbox>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="owner-profile" *ngIf="isOwner">
        <div class="rest-info">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Restaurant Information</mat-card-title>
                    <button mat-raised-button color="primary" (click)="onModify()" *ngIf="!isModify">Modify</button>
                    <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="isModify">Submit</button>
                </mat-card-header>
                <img src="https://content3.jdmagicbox.com/comp/lucknow/s6/0522px522.x522.180816151829.l1s6/catalogue/the-oven-lucknow-mz7zjubm4y.jpg">
                <mat-card-content>  
                    <div class="block">
                        <label class="left">Restaurant Name: </label>
                        <input type="text" class="right" [disabled]="!isModify" value={{restowner.restName}}>
                    </div>
                    <div class="block">
                        <label class="left">Location</label>
                        <input type="text" class="right" [(ngModel)]="restowner.location" [disabled]="!isModify" value={{restowner.location}}>
                    </div>
                    <div class="block">
                        <label class="left">No of Table</label>
                        <input type="text" class="right"  [disabled]="!isModify" value={{restowner.noOfTable}}>
                    </div>
                    <div class="block">
                        <label class="left">Price per Table</label>
                        <input type="text" class="right"  [disabled]="!isModify" value={{restowner.pricePerTable}}>
                    </div>
                    <div class="block">
                        <label class="left">GST No.</label>
                        <input type="text" class="right"  disabled value={{restowner.gstNo}}>
                    </div>
                    <div class="block">
                        <label class="left">Pure Veg</label>
                        <input type="checkbox" class="right"  [disabled]="!isModify" value={{restowner.pureVeg}}>
                    </div>
                    <div class="block">
                        <label class="left">Time Slot</label>
                        <input type="text" class="right"  [disabled]="!isModify" value={{restowner.timeSlot}}>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    <mat-card class="Cuisine"> 
        <mat-card-header>
            <mat-card-title>
                Cuisine
            </mat-card-title>
            <mat-card-content>

            </mat-card-content>
        </mat-card-header>
    </mat-card>
    <mat-card class="Menu"> 
        <mat-card-header>
            <mat-card-title>
                Menu
            </mat-card-title>
            <mat-card-content>

            </mat-card-content>
        </mat-card-header>
    </mat-card>
    <mat-card class="review"> 
        <mat-card-header>
            <mat-card-title>
                Review
            </mat-card-title>
            <mat-card-content>

            </mat-card-content>
        </mat-card-header>
    </mat-card>
</div>
</div>