<div class="booking container-center ">
    <form #paymentForm="ngForm" class="form" (ngSubmit) = "paymentStarted(paymentForm.value)">
        <mat-form-field appearance="fill">
            <mat-label>Enter number of persons</mat-label>
            <input matInput type="number" placeholder="1" name="num_persons" min="1" value="1" required>
        </mat-form-field>
        <br>

        <mat-form-field color="primary" appearance="fill">
            <mat-label>Select Booking Date</mat-label>
            <input matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>
        

        <div class="timePick">
            <input [ngxTimepicker]="toggleTimepicker" [disableClick]="true" placeholder="Select Arrival Time" readonly>
            <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
            <ngx-material-timepicker #toggleTimepicker [theme]="darkTheme"></ngx-material-timepicker>
        </div>

        <div class="timePick">
            <input [ngxTimepicker]="toggleTimepicker1" [disableClick]="true" placeholder="Select Departure Times" readonly>
            <ngx-material-timepicker-toggle [for]="toggleTimepicker1"></ngx-material-timepicker-toggle>
            <ngx-material-timepicker #toggleTimepicker1 [theme]="darkTheme"></ngx-material-timepicker>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Amount</mat-label>
            <input ngModel matInput type="number" placeholder="1" name="amount" min="1" value="1" required>
        </mat-form-field>

        <button id = "#amount" mat-button type="submit" color="primary" >CheckOut</button>
    
    </form>
    
</div>


