<div>
    <div class="review" *ngFor="let review of reviews; let i=index">
        <mat-card class="review-card">
            <mat-card-header>

                <div mat-card-avatar class="review-profile-image" [ngStyle]="{'background-image': 'url(' + review.userimage + ')'}"></div>
                <mat-card-title class="review-title"> {{ review.username }}</mat-card-title>
                <mat-card-subtitle>
                    <!-- <star-rating [value]="review.rating" [totalstars]="5" checkedcolor="gold" uncheckedcolor="gray" size="14px" [readonly]="false"></star-rating> -->
                    <star-rating class="rating" [starType]="'svg'" [rating]="review.rating" [readOnly]="true"></star-rating>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                    <p class="review-content">
                        {{review.review}}
                    </p>
            </mat-card-content>
            
        </mat-card>
    </div>
</div>
