<div>
  <div class="review" *ngFor="let review of reviews; let i = index">
    <mat-card class="review-card">
      <div
        mat-card-avatar
        class="review-profile-image"
        [ngStyle]="{ 'background-image': 'url(' + review.userimage + ')' }"
      ></div>
      <mat-card-header class="review-card-header-text">
        <mat-card-title class="review-title">
          {{ review.username }}</mat-card-title
        >
        <mat-card-subtitle class="rating-container">
          <star-rating
            class="rating"
            [starType]="'svg'"
            [rating]="review.rating"
            [readOnly]="true"
          ></star-rating>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="review-content">
        <p>
          {{ review.review }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
