<h1 mat-dialog-title>Hello</h1>

<div mat-dialog-content class="mat-typography">
  <div mat-card-content>
    <mat-form-field appearance="fill">
    <mat-label>GST NO.</mat-label>
    <input matInput ngModel>
    </mat-form-field>
 </div>


 <div mat-card-content>
  <mat-form-field appearance="fill">
    <mat-label>Resgistration No.</mat-label>
    <input matInput ngModel>
  </mat-form-field>
  </div>



<div mat-card-content >
  <mat-form-field appearance="fill">
    <mat-label>Location</mat-label>
    <input matInput ngModel>
  </mat-form-field>
</div>

 <div mat-card-content>
  <mat-form-field appearance="fill">
    <mat-label>No of Table Capacity</mat-label>
    <input matInput ngModel>
  </mat-form-field>
  </div>


 <div mat-card-content>
  <mat-form-field appearance="fill">
    <mat-label>Charge Par Table </mat-label>
    <input matInput ngModel>
  </mat-form-field>
  </div>

  <div mat-card-content>
  <mat-form-field appearance="fill">
    <mat-label>Cusine Add</mat-label>
    <input matInput ngModel>
  </mat-form-field>
  </div>


<div mat-card-content>
  <mat-form-field appearance="fill">
  <mat-label>Menu Add</mat-label>
  <input matInput ngModel>
  </mat-form-field>
  </div>
  <div mat-card-content>
    <section class="example-section">
  <mat-checkbox class="example-margin">AC</mat-checkbox>
  <mat-checkbox class="example-margin">NO AC</mat-checkbox>
  </section>
</div>
<div mat-card-content>
  <section class="example-section">
<mat-checkbox class="example-margin">Private</mat-checkbox>
<mat-checkbox class="example-margin">NO Private</mat-checkbox>
</section>
</div>
<div mat-card-content>
  <section class="example-section">
<mat-checkbox class="example-margin">Veg </mat-checkbox>
<mat-checkbox class="example-margin">NO Veg</mat-checkbox>
</section>
</div>
<div mat-card-content>
  <section class="example-section">
<mat-checkbox class="example-margin">Wifi 
  </mat-checkbox>
<mat-checkbox class="example-margin">NO Wifi </mat-checkbox>
</section>
</div>


<div mat-dialog-actions>
  <button mat-raised-button matDialogClose>No Thanks</button>
  <button mat-raised-button  mat-dialog-close="">Ok</button>
</div>